body {
	background-color:lightgrey;
}

.head_strip{
	width:100%;
	height:50px;
	background-color:white;
	margin-bottom:5px;
    border-style:solid;
    border-color:darkgray;
    border-width:1px;
}

.site_title_div{
	width:900px;
	height:50px;
	margin-left:auto;
	margin-right:auto;
	line-height:50px;
}

.site_title{
    font-size: 150%;
    font-family: "Segoe UI";
}

.content_pane{
    width:900px;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
}

.filter_pane{
    width:900px;
    height:40px;
    background-color:white;
    margin-bottom: 10px;
    clear: both;
}

.tournament_filter{
    width:900px;
    height:40px;
    background-color:white;
    border-style:solid;
    border-color:darkgray;
    border-width:1px;
}

.team_filter{
    width:900px;
    height:40px;
    background-color:white;
    border-style:solid;
    border-color:darkgray;
    border-width:1px;
    line-height: 40px;
}

.button_tournament{
    width:70px;
    height:30px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    background-color: lightgray;
}

.textbox_teamsearch{
    width:140px;
    height:30px;
    margin-left:15px;
    margin-top: 0;
}

.main_pane{
	width:900px;
	height:700px;
	background-color:lightgrey;
    overflow: hidden;
    clear: both;
}

.tournament_entry {
	background-color:white; 
	width:900px; 
	height:120px; 
	margin-left:auto; 
	margin-right:auto; 
	margin-bottom:10px; 
	border-style:solid;
	border-color:darkgray;
	border-width:1px;
}

.image_tournament_entry_div{
    width:200px;
    height:120px;
    float:left;
    position:relative;
}

.image_tournament_entry{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	max-width:140px;
	max-height:80px;
}

.tournament_entry_name_div{
    width:400px;
    height:120px;
    float:left;
    position:relative;
}

.tournament_entry_name{
    line-height:120px;
    margin-left:60px;
    font-size: 170%;
    font-family: "Segoe UI";
}

.tournament_entry_info_div{
    width:300px;
    height:120px;
    float:left;
    font-family: "Segoe UI";
}

.info_match_count_div{
    width:300px;
    height:40px;
    line-height: 40px;
    font-family: "Segoe UI";
}

.info_duration_div{
    width:300px;
    height:40px;
    line-height: 40px;
    font-family: "Segoe UI";
}

.info_venue_div{
    width:300px;
    height:40px;
    line-height: 40px;
}

.tournament_details {
    background-color:lightgrey;
	width:900px;
	height:700px; 
	margin-left:auto; 
	margin-right:auto;
    overflow: hidden;
}

.btn_back {
	width:50px; 
	height:25px;
    margin-left: 10px;
}

.match_entry{
	background-color:white;
	width:900px;
	height:120px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
    border-style:solid;
    border-color:darkgray;
    border-width:1px;
}

.match_team1_icon_div{
    width: 100px;
    height:120px;
    float:left;
    position:relative;
}

.match_team1_icon{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width:70px;
    max-height:70px;
}

.match_team2_icon_div{
    width: 100px;
    height:120px;
    float:left;
    position:relative;
}

.match_team2_icon{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width:70px;
    max-height:70px;
}

.match_team_versus_div{
    width: 430px;
    height:120px;
    float:left;
}

.match_team1_name_div{
    width: 200px;
    height:120px;
    line-height:120px;
    float:left;
}

.match_team1_name{
    font-family:"Segoe UI";
    font-size:150%;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width:190px;
    display:inline-block;
    float:left;
    margin-right: 10px;
}

.match_team2_name_div{
    width: 200px;
    height:120px;
    line-height:120px;
    float:right;
}

.match_team2_name{
    font-family:"Segoe UI";
    font-size:150%;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width:190px;
    display:inline-block;
    float:right;
    margin-left: 10px;
}

.match_team_separator_div{
    width:30px;
    height:120px;
    line-height:120px;
    float:left;
}

.match_team_separator{
    font-family:"Segoe UI";
    font-size:150%;
}

.match_entry_info{
    width:270px;
    height:120px;
    background-color: white;
    float:right;
}

.match_schedule_remaining_div{
    width:270px;
    height:60px;
    line-height:60px;
    clear:both;
    display: inline-block;
    text-align: center;
    font-size: 120%
}

.match_stage_div{
    width:270px;
    height:70px;
    line-height:70px;
    display: inline-block;
    text-align: center;
    font-size: 120%;
    float:left;
}

.match_details {
	background-color:white;
	width:900px;
	height:700px;
	margin-left:auto;
	margin-right:auto;
}

.match_details_title_strip1{
    width:900px;
    height:50px;
    clear:both;
}

.match_details_tournament_div{
    width:630px;
    height:50px;
    background-color: darkseagreen;
    float:left;
}

.match_details_schedule_div{
    width:270px;
    height:50px;
    float:left;
}

.match_details_schedule_div{
    width:270px;
    height:50px;
    float:left;
    line-height:50px;
    display: inline-block;
    text-align: center;
    font-size: 120%
}

.match_details_title_strip2{
    width:900px;
    height:70px;
    clear:both;
    margin-top:5px;
    margin-bottom:5px;
}

.match_details_matchname_div{
    width:630px;
    height:70px;
    float:left;
}

.match_details_team1_icon_div{
    width: 100px;
    height:70px;
    float:left;
    position:relative;
}

.match_details_team1_icon{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width:70px;
    max-height:70px;
}

.match_details_team2_icon_div{
    width: 100px;
    height:70px;
    float:left;
    position:relative;
}

.match_details_team2_icon{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width:70px;
    max-height:70px;
}

.match_details_team_versus_div{
    width: 430px;
    height:70px;
    float:left;
}

.match_details_team1_name_div{
    width: 200px;
    height:70px;
    line-height:70px;
    float:left;
}

.match_details_team1_name{
    font-family:"Segoe UI";
    font-size:150%;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width:190px;
    display:inline-block;
    float:left;
    margin-right: 10px;
}

.match_details_team2_name_div{
    width: 200px;
    height:70px;
    line-height:70px;
    float:right;
}

.match_details_team2_name{
    font-family:"Segoe UI";
    font-size:150%;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width:190px;
    display:inline-block;
    float:right;
    margin-left: 10px;
}

.match_details_team_separator_div{
    width:30px;
    height:70px;
    line-height:70px;
    float:left;
}

.match_details_team_separator{
    font-family:"Segoe UI";
    font-size:150%;
}

.match_details_title_strip3{
    width:900px;
    height:700px;
}

.match_details_strip3_video_div{
    width:630px;
    height:430px;
    padding:15px;
    margin: 0px;
    float:left;
}

.match_details_strip3_vertical_div{
    width:240px;
    height:460px;
    float:left;
    background-color: #b5d592;
}