body {
	background-color:lightgrey; 
	margin-left:auto; 
	margin-right:auto;
}
.main_pane{
	width:900px;
	height:700px;
	background-color:lightgrey;
	margin-left:auto; 
	margin-right:auto;
}

.filter_pane{
	width:900px;
	height:80px;
	background-color:white;
	margin-left:auto; 
	margin-right:auto;
	margin-bottom: 15px;
	border-style:solid;
	border-color:orange;
	border-width:1px;
}

.tournament_filter{
	width:900px;
	height:40px;
	background-color:lightblue;
}

.team_filter{
	width:900px;
	height:40px;
	background-color:lightgreen;
}

.button_tournament{
	width:70px;
	height:30px;
}

.textbox_teamsearch{
	width:140px;
	height:30px;
	margin-left:15px;
}

.tournament_entry {
	background-color:white; 
	width:900px; 
	height:120px; 
	margin-left:auto; 
	margin-right:auto; 
	margin-bottom:10px; 
	border-style:solid;
	border-color:darkgray;
	border-width:1px;
}

.image_tournament_entry_div{
    background-color:lavender;
    width:300px;
    height:120px;
    float:left;
    position:relative;
}

.image_tournament_entry{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.info_tournament_entry{
    background-color:powderblue;
    width:600px;
    height:120px;
    float:left;
}

.tournament_details {
	background-color:white;
	width:900px;
	height:700px; 
	margin-left:auto; 
	margin-right:auto;
}

.btn_back {
	width:50px; 
	height:25px;
}

.match_entry{
	background-color:lightgreen;
	width:900px;
	height:120px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}

.match_details {
	background-color:white;
	width:900px;
	height:700px;
	margin-left:auto;
	margin-right:auto;
}