<div class="main_pane" ng-controller="ListTournamentsController">
	<div class="tournament_entry" ng-repeat="t in tourneys" ng-click="viewTournament(t.tournamentName)">
		<div class="image_tournament_entry_div">
            <img class="image_tournament_entry" ng-src="{{t.imageSource}}">
        </div>
		<div class="tournament_entry_name_div">
            <span class="tournament_entry_name">{{t.tournamentName}}</span>
        </div>
        <div class="tournament_entry_info_div">

        </div>
	</div>
</div>